#name0{
    margin-bottom: 0px;
    color: blue;

}
#name1{
    margin-bottom: 0px;
    color: blue;

    
}
#name2{
    margin-bottom: 0px;
    color: blue;

}
#name3{
    margin-bottom: 0px;
    color: blue;

}
#name4{
    color: blue;
    margin-bottom: 0px;
    
}
.signing{
   text-align: center;  
   color: blue
   ;
}
#hello{
    color: blue;
}
    
body {
       /* background-image: url('images/bg111.jpg');  */
      background-image: linear-gradient(yellow,green);
      background-repeat: no-repeat;
    background-size: cover;
    color: darkgreen;
  }
  
.details{
    text-align: center;
    color: rgb(238, 229, 229);
  

}
#signup{
    margin-top: 20px;
    margin-right: 60px;
    background-color: greenyellow;
    border-radius: 15px;
    width: 80px;
    height: 30px;
    border: none;
    color: blue;
    
}

#login{
    margin-left:30px ;
    background-color: greenyellow;
    border-radius: 15px;
    width: 80px;
    height: 30px;
    border: none;
    

}

#login a{
    text-decoration: none;
    color: blue;
    

}
 ::placeholder{
    color:black

} 

input{
    background-color: wheat;
    width: 400px;
    height: 30px;
    border: none;
    border-radius: 20px;
   
}
#logo{
    width: 130px;
    margin-left: 45%;
    margin-top: 10px;

} 

